<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ejs 태그 만들면 백엔드꺼 이용가능! -->
    <img src ="/<%=src%>"/>
    <h2> <%=id%>님 환영합니다 </h2>
    <br />
    <h3>비밀번호 : <%=pw%> </h3>
    <h3>이름 : <%=name%> </h3>
    <h3>나이 : <%=age%> </h3>

</body>
</html>